version: '3.8'

services:
  # The Next.js Application
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=mysql://ilmo:ilmo_secret@db:3306/ilmoquranbar
    depends_on:
      - db

  # MySQL Database
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_secret
      MYSQL_DATABASE: ilmoquranbar
      MYSQL_USER: ilmo
      MYSQL_PASSWORD: ilmo_secret
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: